.animate-in {
	animation-duration: 200ms;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-in-0 {
	animation-name: fadeIn;
}

.zoom-in-95 {
	animation-name: zoomIn;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}