# https://github.com/tauri-apps/tauri-action/issues/525

name: 'publish'

on:
    push:
        branches:
            - main

    workflow_dispatch:

env:
    TAG_NAME: v1.0.0
    RELEASE_NAME: 'trac-nghiem-chinh-tri_v1.0.0'
    EXE_FILE_NAME: 'trac-nghiem-chinh-tri_v1.0.0_portable.exe'

jobs:
    publish-windows:
        runs-on: windows-latest

        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            - name: Setup GitHub CLI
              run: |
                  choco install gh --version=2.83.2 -y
              shell: powershell

            - name: setup node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: 'npm'

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: x86_64-pc-windows-msvc

            - name: Install Visual Studio Build Tools
              uses: microsoft/setup-msbuild@v1

            - name: Install Rust target
              run: rustup target add x86_64-pc-windows-msvc

            - name: Install Tauri CLI
              run: cargo install tauri-cli

            - name: Install dependencies
              run: npm install

            - name: Build app bundle
              run: npm run tauri build -- --no-bundle --target x86_64-pc-windows-msvc

            - name: Rename exe file
              run: Rename-Item `
                  -Path "./src-tauri/target/x86_64-pc-windows-msvc/release/app.exe" `
                  -NewName "${{ env.EXE_FILE_NAME }}"
              shell: powershell

            - name: Remove old tag if exists
              run: |
                  $tag = "${{ env.TAG_NAME }}"
                  $tags = git ls-remote --tags origin | ForEach-Object { $_.Split("`t")[1] }
                  if ($tags -contains "refs/tags/$tag") {
                      Write-Host "Deleting old tag..."
                      git push origin :refs/tags/$tag
                  } else {
                      Write-Host "No old tag found."
                  }
              shell: powershell

            - name: Create Tag
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git tag "${{ env.TAG_NAME }}"
                  git push origin "${{ env.TAG_NAME }}"

            - name: Remove old release if exists
              shell: pwsh
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  $release = gh release view $env:TAG_NAME --json id 2>$null || $null

                  if ($release) {
                    gh release delete $env:TAG_NAME -y
                    Write-Host "Deleted release for tag $env:TAG_NAME"
                  } else {
                    Write-Host "Release for tag $env:TAG_NAME does not exist"
                  }

            - name: Publish
              uses: softprops/action-gh-release@v1
              with:
                  draft: false
                  name: '${{ env.RELEASE_NAME }}'
                  tag_name: '${{ env.TAG_NAME }}'
                  generate_release_notes: true
                  files: |
                      "./src-tauri/target/x86_64-pc-windows-msvc/release/${{ env.EXE_FILE_NAME }}"
