<div class="max-w-5xl mx-auto p-6 bg-white shadow rounded">
    <h2 class="text-xl font-bold mb-4">{{ 'editQuestion.updateQuestion' | translate }}</h2>

    <label class="block mb-2 font-medium">{{ 'editQuestion.questionContent' | translate }}</label>
    <textarea
        [ngModel]="question()?.content"
        (ngModelChange)="updateQuestionContent($event)"
        class="w-full border p-3 rounded mb-4"
        rows="4"
        [placeholder]="'add-question.inputQuestion' | translate"
    ></textarea>

    <!-- Danh sách đáp án -->
    <h3 class="font-medium mb-2">{{ 'add-question.answerList' | translate }}</h3>

    @for (ans of oldAnswers(); track $index) {
    <div class="flex gap-3 mb-3 items-center">
        <!-- Radio chọn đáp án đúng -->
        <input
            type="radio"
            name="correctAnswer"
            [checked]="ans.is_correct"
            (change)="markCorrectOldAnswer(ans.id)"
            class="w-5 h-5"
        />

        <!-- Nội dung đáp án -->
        <input
            type="text"
            [(ngModel)]="ans.content"
            class="flex-1 border p-2 rounded"
            [placeholder]="'add-question.answerContent' | translate"
        />

        <!-- Xóa đáp án -->

        @if ((oldAnswers().length + newAnswers().length) > 1) {
        <button class="px-3 py-1 bg-red-500 text-white rounded" (click)="removeOldAnswer(ans.id)">
            X</button
        >}
    </div>
    } @for (ans of newAnswers(); track $index) {
    <div class="flex gap-3 mb-3 items-center">
        <!-- Radio chọn đáp án đúng -->
        <input
            type="radio"
            name="correctAnswer"
            [checked]="ans.is_correct"
            (change)="markCorrectNewAnswer(ans.id)"
            class="w-5 h-5"
        />

        <!-- Nội dung đáp án -->
        <input
            type="text"
            [(ngModel)]="ans.content"
            class="flex-1 border p-2 rounded"
            [placeholder]="'add-question.answerContent' | translate"
        />

        <!-- Xóa đáp án -->

        @if ((oldAnswers().length + newAnswers().length) > 1) {
        <button class="px-3 py-1 bg-red-500 text-white rounded" (click)="removeNewAnswer(ans.id)">
            X</button
        >}
    </div>
    }

    <!-- Nút thêm đáp án -->
    <button class="px-4 py-2 bg-gray-700 text-white rounded mb-4" (click)="addNewAnswer()">
        {{ 'add-question.addAnswer' | translate }}
    </button>

    <!-- Nút hành động -->
    <div class="flex justify-end gap-3">
        <button class="px-4 py-2 bg-blue-600 rounded text-white" (click)="save()">
            {{ 'add-question.saveQuestion' | translate }}
        </button>
    </div>
</div>
